/* MPC.css
 * Override styling for Mossneuk Parish Church Website
 * Author: Ewan McCartney
 *
 *
 *
 *	Colour Scheme
 *
 * -- Used --
 * (Teal) 		= #3E9393
 * (Grey) 		= #9D9D9D
 * (Pale Orange)= #FFB445
 * (Green)      = #7C9166
 * (Deep Purple)= #BF5FBF
 *
 * -- Free --
 * (Pale Red)   = #FF7575
 * (Light Brown)= #9F7E5F
 */



body{
	padding-left: 5px;
	padding-right: 5px;
    font-family: 'Oxygen', sans-serif;
}

p { font-size:14px;}
i { font-size:14px;}


/* Makes sure images don't cause page to widen for no reason. */
/* TODO: fix this, so we have wide image that scales according. Could even have scroll effect fading in and out of images */
#brand { 
	width:100%;
	height:250px;
	background: url("../img/HeaderImgF.jpg");
	background-repeat: no-repeat;
	background-position: left;
}

#brandF { 
	height:380px;
	float:middle;
	background: url("../img/header_FF.jpg");
	background-repeat: no-repeat;
	background-position: left;
}


/* NavBar Button Styling */
/* --------------------- */
/* Background Styles - Border top and bottom, background white */
.navbar 
{
	background-color:white;
	border-width:1px;
	border-left: 0;
	border-right: 0;
}

/* Centers NavBar to middle of screen */
.navbar-nav{
    margin: 0 auto; 
    display: table;
    table-layout: fixed;
    float:none;
}

/* Styling for each button on navbar
 *
 * [NOTE] If page is 'active' then use ID [PAGE]_A to keep highlighted background
 */
#Worship, #Groups #Contact, #People, #Home { background-color:white;}
#Worship:hover, #Worship_A, #Worship:active { background-color: #3E9393; }
#Groups:hover,  #Groups_A , #Groups:active { background-color: #FFB445; }
#Contact:hover, #Contact_A, #Contact:active { background-color: #7C9166; }
#People:hover,  #People_A,  #People:active { background-color: #9D9D9D; }
#Home:hover, #Home_A, #Home:active { background-color:#BF5FBF;}
#Future:hover, #Future_A, #Future:active { background-color:#FF7575;}


/* Index Page Styling */
/* ------------------ */
#i_Small { font-size:18px;}




/* Footer Styling */
/* -------------- */
.footer, .footer i
{
	font-size:8px;
	font-color:#252525;
}