# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================
# MPC FILES
# =========================

#FOLDERS

_private/
bs/
downloads/
img/


#RANDOM FILES
devindex.html
test.html
test2.html
testb.html
TODO
ChangeLog (Church Website)

#CSS
css/test.css
css/test2.css
css/testb.css

#JS
js/testb.js

