<!-- Modal Information for each Activity and Group in the church -->

<!-- Ladies Friendship -->
<div class="modal fade" id="mLFC" tabindex="-1" role="dialog" aria-labelledby="Ladies Friendship Circle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Ladies Friendship Circle</h4>
            </div>
            <div class="modal-body">
                <p>The Ladies’ Friendship Circle meets every second Monday from September to May. We have speakers, discussions and social occasions.<br><br> If you have any queries, please contact our Session Clerk Lynne Eland. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Craft Class Friendship -->
<div class="modal fade" id="mCC" tabindex="-1" role="dialog" aria-labelledby="Craft Class" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Craft Class</h4>
            </div>
            <div class="modal-body">
                <p>The Craft Class meets every second Monday from September to May. We make a variety of seasonal goods to sell at our Craft Table on the first Sunday of every month and at the Christmas and Summer Fayres.<br><br>
                Contact:  Mrs Martha Clare/Mrs Rona Mackay </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Spotlight -->
<div class="modal fade" id="mS" tabindex="-1" role="dialog" aria-labelledby="Spotlight Youth Theatre" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Spotlight</h4>
            </div>
            <div class="modal-body">
                <p>The Spotlight Youth Theatre caters for children from 8 to 18 years old. We are a lively group who love singing and performing. We have two main shows per year. <br><br>
                Contact:  Mrs Heather Johnston<br>
                Tel: 01355 249432<br>
                Email: elandh1602@hotmail.com
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- BB -->
<div class="modal fade" id="mBB" tabindex="-1" role="dialog" aria-labelledby="Boys' Brigade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Boys' Brigade</h4>
            </div>
            <div class="modal-body">
                <p>The Boys’ Brigade provides a balanced programme of activities for boys and young people to enable them to make a positive contribution to their community and be able to share their faith.<br><br>
                The Anchor Section <i>(for boys in Primary 2 or 3)</i> and the Junior Section <i>(for boys in Primary 4,5 &amp; 6)</i> meet on a Tuesday.<br>
                The Company Section <i>(for boys in Primary 7 and upwards)</i> meet on a Thursday.
                <br><br>
                Contact:  Mr Derek Wood<br>
                Tel: 01355 233197<br>
                Email: delali@blueyonder.co.uk 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- GB -->
<div class="modal fade" id="mGB" tabindex="-1" role="dialog" aria-labelledby="Girls' Brigade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Girls' Brigade</h4>
            </div>
            <div class="modal-body">
                <p>The Girls’ Brigade is a worldwide Christian organisation for girls and young women that aims to develop our members within a Christian framework to become capable, confident citizens of the 21st century.<br><br>
                The Girls meet on a Wednesday Night<br><br>

                Contact:  Mrs Carol King<br>
                Email: carol@rkingphoto.co.uk<br><br>
                <a href="http://mossneukgb.org/" target="about_blank">Girls' Brigade Website</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Praise Band -->
<div class="modal fade" id="mPB" tabindex="-1" role="dialog" aria-labelledby="Praise Band" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Praise Band</h4>
            </div>
            <div class="modal-body">
                <p>The praise band aims to enhance worship through the medium of song. We practice at 11.30am on a Sunday morning and are always looking for new members who can sing or play an instrument.<br><br>

                Contact:  Mrs Lynne Eland<br>
                Tel:  01355 249432<br>
                Email: elandlynne@hotmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Sunday Club -->
<div class="modal fade" id="mSC" tabindex="-1" role="dialog" aria-labelledby="Sunday Club" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Praise Band</h4>
            </div>
            <div class="modal-body">
                <p>The Sunday Club meets during our Worship on Sunday. We have lots of fun with crafts and activities, learning about Jesus along the way.
                <br><br>
                Contact:  Mrs Elizabeth Whitehill<br>
                Tel: 01355 520448<br>
                Email: ewhitehill61@gmail.com </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- YF -->
<div class="modal fade" id="mYF" tabindex="-1" role="dialog" aria-labelledby="Youth Fellowship" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">Youth Fellowship</h4>
            </div>
            <div class="modal-body">
                <p>The Youth Fellowship is open to anyone aged 12 and over. They meet every second Satruday night.
                <br><br>
                Contact:  Miss Lindsey Mathieson<br>
                Email: lindseyrm@live.co.uk </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>