<div class="container-fluid" id="brand"></div>
<nav class="navbar navbar-default navbar-static-top" >
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li id="Home"><a href="index.html">Home</a></li>
        <li id="Worship"><a href="worship.html">Worship</a></li>
        <li id="People"><a href="people.html" >People of Mossneuk</a></li>
        <li id="Groups"><a href="groups.html" >Activites &amp; Groups</a></li>
        <li id="Contact"><a href="find.html" >Find &amp; Contact Us</a></li>
        <li id="Future"><a href="future.html" >Future of Mossneuk</a></li>
  </div>
</nav>
</div>